<div class="animated fadeIn">
    <div class="row" style="height: 80vh;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-list"></i>Listagem de cursos
                  </div>
                  <div class="">
                    <div class="col-md-12 col-sm-12">
                      <div class="table-responsive">
                        <table class="table table-hover table-striped table-dark" id="table-query">
                          <thead class="thead-dark">
                            <tr>
                              <th class="th-sm text-center" scope="col">Ação</th>
                              <th class="th-sm" scope="col">Curso</th>
                              <th class="th-sm" scope="col">Equipes</th>
                              <th class="th-sm" scope="col">Data do curso</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">
                                <button class="btn btn-danger">Excluir</button>
                              </td>
                              <th scope="row">Microservicos</th>
                              <td>T.I</td>
                              <td>20/08/2024</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-nav">
  <nav class="nav justify-content-around mb-3">
      <a class="nav-link active" href="/dashboard">
          <i class="bi bi-house-door-fill"></i><br>Início
      </a>
      <a class="nav-link" href="#">
          <i class="bi bi-search"></i><br>Explorar
      </a>
      <a class="nav-link" routerLink="/account">
          <i class="bi bi-person-circle"></i><br>Minha conta
      </a>
  </nav>
</div>