<div class="main col-12">
    <div class="mx-auto p-2 login-container col-12">
        <div class="row login-card">
            <div class="image col-md-6">
                <img src="../../../../src/assets/images/astronalta.png" alt="Astronaut Image">
            </div>
            <div class="login col-md-6">
                <h3>Bem - Vindo ao Time!</h3>
                <p class="text-center">Start your journey with a brief introduction of our company.</p>
                <form id="loginForm col-12"
                (ngSubmit)="onSubmit(model)" novalidate>
                    <div class="form-group">
                        <label for="user">Matrícula</label>
                        <input type="text" class="form-control" id="user" placeholder="Login" name="user" [(ngModel)]="model.user" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" id="password" placeholder="Senha" name="password" [(ngModel)]="model.password" required>
                    </div>
                    <button type="button" (click)="login(model)" class="btn btn-primary">Continue</button>
                </form>
            </div>
            
        </div>
    </div>
    <ng-template #loadingForm>
        ...carregando
      </ng-template>
</div>
